@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --dark: #1a2a33;
    --dark-shadow: #10212a;
    --semi-dark: #1f3641;
    --silver: #a8bfc9;
    --silver-hover: #dbe8ed;
    --silver-shadow: #6b8997;
    --light-blue: #31c3bd;
    --light-blue-hover: #65e9e4;
    --blue-shadow: #118c87;
    --light-yellow: #f2b137;
    --light-yellow-hover: #ffc860;
    --yellow-shadow: #cc8b13;
}


* > * {
    font-family: 'Outfit', sans-serif;
}

/*  UTILITIES */

body {
    overflow: hidden;
}

h1 {
    color: var(--silver);
    font-size: 1.2rem!important;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0!important;
}

@keyframes fadeIn {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }

.main {
    background: var(--dark);
    height: 100vh;
}

.hide {
    display: none;
}

/* GAME START SECTION */

.game-start {
    flex-direction: column;
    animation: fadeIn 1s ease-in-out;
}

.logo img {
    width: 80px;
    height: 80px;
}

.game-start-choice {
    background-color: var(--semi-dark);
    border-radius: 20px;
    box-shadow: inset 0px -8px 0px var(--dark-shadow);
}

.game-start-marks {
    background-color: var(--dark);
    border-radius: 20px;
    justify-content: space-around;
}

.mark {
    width: 45px;
    height: 45px;
    background-color: transparent!important;
    fill: var(--silver-hover);
}

.mark-select {
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}

.selected {
    background-color: var(--silver); 
}

.selected .mark {
    fill: var(--semi-dark);
}

.game-start-buttons {
    padding: 0!important;
}

.start-btn {
    width: 100%;
    border-radius: 15px;
    height: 65px;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 1px;
    color: var(--dark);
    font-size: 1.1rem;
}

.yellow-btn {
    background-color: var(--light-yellow);
    box-shadow: inset 0px -8px 0px var(--yellow-shadow);
}

.blue-btn {
    background-color: var(--light-blue);
    box-shadow: inset 0px -8px 0px var(--blue-shadow);
}

.yellow-btn:hover {
    background-color: var(--light-yellow-hover);
}

.blue-btn:hover {
    background-color: var(--light-blue-hover);
}

/* GAMEBOARD SECTION */

.game-board-head {
    justify-content: space-between;
}

.game-board {
    padding-top: 0.5rem!important;
    animation: fadeIn 0.4s ease-in-out;
}

.game-board-turn {
    background-color: var(--semi-dark);
    border-radius: 8px;
    width: 90px;
    height: 42px;
    margin-right: 40px!important;
    justify-content: space-between;
    padding: 0 15px;
    box-shadow: inset 0px -5px 0px var(--dark-shadow);
}

.game-board-turn h1 {
    font-size: 0.8rem!important;
}

.mark-turn {
    width: 15px;
    height: 15px;
    fill: var(--silver);
}

.game-board-restart {
    background-color: var(--silver);
    border-radius: 5px;
    box-shadow: inset 0px -4px 0px var(--silver-shadow);
    padding: 0.6rem;
    cursor: pointer;
}

.game-board-restart img {
    width: 20px;
    height: 20px;
}

.cells {
    justify-content: space-between;
}

.cell {
    width: 90px;
    height: 90px;
    border-radius: 10px;
    padding: 3rem;
    background-color: var(--semi-dark);
    box-shadow: inset 0px -8px 0px var(--dark-shadow);
    margin: 0.5rem 0;
}

@media only screen and (min-width: 767px) {
    .logo img {
        width: 100px;
        height: 100px;
    }

    .game-board-turn {
        width: 128px;
        height: 56px;
        padding: 0.3rem 1.5rem 0.3rem 1rem;
        margin-right: 60px!important;
    }

    .mark-turn {
        width: 20px;
        height: 20px;
    }

    .cell { 
        width: 128px;
        height: 128px;
    }

    .game-board-turn h1 {
        font-size: 0.9rem!important;
    }
}